@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 1em;
}

body {
  font: 600 18px 'Source Sans Pro', sans-serif;
  letter-spacing: 0.64px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "menu"
    "content"
    "details"
    "footer";
  background-color: white;
  gap: 10px;  
}

.header {
  grid-area: header;
  background-color: rgb(36, 35, 36);
  text-align: center;
  color: #ffffff;
}

.menu {
  grid-area: menu;
}

.content {
  grid-area: content;
}

.content > h1 {
  font-size: 30px;
  margin-bottom: 7px;
}

.content > p {
  margin-bottom: 7px;
}

.details {
  grid-area: details;
  border: 1px solid #0099cc;
  background-color: beige;
  padding: 10px;
}

.footer {
  grid-area: footer;
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
}


@media (min-width: 680px) {
  .header {grid-area: 1 / span 6;}
  .menu {grid-area: 2 / span 1;}
  .content {grid-area: 2 / span 4;}
  .details {grid-area: 3 / span 6;}
  .footer {grid-area: 4 / span 6;}
}

@media (min-width: 900px) {
  .header {grid-area: 1 / span 6;}
  .menu {grid-area: 2 / span 1;}
  .content {grid-area: 2 / span 4;}
  .details {grid-area: 2 / span 1;}
  .footer {grid-area: 3 / span 6;}
}


form > div {
  margin: 30px;
}

.helptext {
  font-size: 10px;
  font-weight: 100;
}

.errorlist {
    color: #F00;
    margin-left: 5rem;
}

.errorlist li::marker {
    color: #F00;
    content: 'Ups... ';
}

.logout {
    display: inline-block;
}

.header  a:visited {
  color: white;
}