@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
body {
  margin:0;
  font: 600 18px 'Source Sans Pro', sans-serif;
  letter-spacing: 0.64px;
  color: #000000;
}
/* Header */
.topnav {
  background-color:#1a1d2b;
  color:#ffffff;
  padding:10px;
}

.topnav a:link, .topnav a:visited {
  text-decoration: none;
  color: #ffffff; 
}

.topnav a:hover, .topnav a:active {
  text-decoration: underline;
}

.helptext {
  font-weight: 100;
}

.errorlist {
    color: #F00;
    margin-left: 5rem;
}

.errorlist li::marker {
    color: #F00;
    content: 'Ups... ';
}

.logout {
    display: inline-block;
}

a:link, a:visited {
  color: #375BDC; 
}
.main, .main h1 {
  text-align:center;
  color:#08174e;
}