{% extends "layout.html" %}

{% block title %}
    Accounts
{% endblock %}

{% block content %}
<div>
   <h1>Accounts of family {{request.user.profile.family}}</h1>    
    <table>
        <tr>
            <th> Account </th>
            <th> balance </th>
        </tr>
        {% for item in data%}
            <tr>
                <td> <a href="account_edit/{{item.id}}" title="push to edit"> {{item.name}} </a></td>
                <td> {{item.balance}} </td>
            </tr>
        {% endfor %}
    </table>  
</div>
{% endblock %}