{% extends "layout.html" %}
{% load i18n %}

{% block title %}
    {% trans "Edit category of income/expenses" %}
{% endblock %}

{% block content %}
<div class="mycard">
  <h1>{% trans "Edit category of income/expenses" %}</h1>
  <form class="form-with-validation" action="{% url 'transactions:category_edit' category.id %}" method="post">
    {% csrf_token %}
    <div>{% trans "Category name" %} {{ form.name }}</div>
    <div>{% trans "Use it for income?" %}: {{ form.income_flag }}</div>
    <div>{% trans "Use it for expense?" %}:{{ form.expense_flag }}</div>
    <button type="form-submit" name="action" value="save">{% trans "Save" %}</button>
    <button type="form-submit" name="action" value="delete">{% trans "Delete" %}</button>
    <button type="form-submit" name="action" value="cancel">{% trans "Cancel" %}</button>
  </form>
</div>
{% endblock %}