{% extends "layout.html" %}
{% load i18n %}

{% block title %}
    {% trans "Categories of income/expenses" %}
{% endblock %}

{% block content %}
<div>
   <h1>{% trans "Categories of income/expenses" %}</h1>    
    <table>
        <tr>
            <th> {% trans "Name" %} </th>
            <th> {% trans "Use for income?" %} </th>
            <th> {% trans "Use for expense?" %} </th>
        </tr>
        {% for item in data%}
            <tr>
                <td> <a href="category_edit/{{item.id}}" title="push to edit"> {{item.name}} </a></td>
                <td> {{item.income_flag}} </td>
                <td> {{item.expense_flag}} </td>
            </tr>
        {% endfor %}
    </table>  
</div>
{% endblock %}