{% extends "layout.html" %}

{% block title %}
    Expense
{% endblock %}

{% block content %}
    <h1> Add new expense </h1>
    <section>
        <form class="form-with-validation" action="{% url 'transactions:create_expense' %}" method="post" >
            {% csrf_token %}
            {% comment %}
            <div> <label for="id_date">Date:</label> {{ form.date }} </div>
            {% endcomment %}
            <div>{{ form.date.label_tag }} {{ form.date }} </div>
            <div>{{ form.account.label_tag }} {{ form.account }} 
                 <a href="{% url 'transactions:create_account' %}">add account</a>
            </div>
            <div>{{ form.amount.label_tag }}   {{ form.amount }}</div>
            <div>{{ form.currency.label_tag }} {{ form.currency }}</div>
            <div>{{ form.category.label_tag }} {{ form.category }}</div>
            <div>{{ form.remark.label_tag }}   {{ form.remark }}</div>
            <button class="form-submit">Add Expense</button>
        </form>        
    </section>

{% endblock %}