{% extends "layout.html" %}
{% load i18n %}

{% block title %}
    {% trans "Currencies" %}
{% endblock %}

{% block content %}
<div>
   <h1>{% trans "Currencies" %}</h1>    
    <table>
        <tr>
            <th> {% trans "Code" %} </th>
            <th> {% trans "Description" %} </th>
        </tr>
        {% for item in data%}
            <tr>
                <td> <a href="currency_edit/{{item.id}}" title="push to edit"> {{item.code}} </a></td>
                <td> {{item.description}} </td>
            </tr>
        {% endfor %}
    </table>  
</div>
{% endblock %}