{% extends "layout.html" %}
{% load i18n %}


{% block title %}
    {% trans "Create currency" %}
{% endblock %}

{% block content %}
    <h1> {% trans "Create currency" %}</h1>
    <a href="/transactions/category_upload">{% trans "or upload by csv" %}</a>

    <section>
        <form class="form-with-validation" action="{% url 'transactions:currency_create' %}" method="post" >
            {% csrf_token %}
            <div>{% trans "Currency code" %}: {{ form.code }}</div>
            <div>{% trans "Currency description" %}: {{ form.description }}</div>

            <button class="form-submit">{% trans "Save" %}</button>
        </form>        
    </section>

{% endblock %}