{% extends "layout.html" %}
{% load i18n %}

{% block title %}
    
{% endblock %}

{% block content %}
<div>
   <h1>{% trans "Transactions upload" %}</h1>    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.file }}
        <button type="submit">{% trans "Upload CSV" %}</button>
    </form>
    </br>
    <div>
        <h3>{% trans "Example of data in csv file for upload" %}: </h3>
        <i>
            date,account_name,amount,currency_code,category_name,remark</br>
            2026-01-01,Card,10000,EUR,Salary,Salary for January 2026</br>
            2026-01-01,Card,-5.12,EUR,Food,Some Coffe</br>
            </br>
        </i>
    </div>
</div>
{% endblock %}