{% extends "layout.html" %}
{% load i18n %}

{% block title %}
    {% trans "Edit transaction" %}
{% endblock %}

{% block content %}
<div class="mycard">
  <h1>{% trans "Edit transaction" %}</h1>
  <form class="form-with-validation" action="{% url 'transactions:transaction_edit' transaction.id %}" method="post">
    {% csrf_token %}
    
    <div>{% trans "Date" %} {{ form.date }} </div>
    <div>{% trans "Currency" %} {{ form.currency }} </div>
    <div>{% trans "Account" %} {{ form.account }} </div>
    <div>{% trans "Amount" %}   {{ form.amount }} <span id="currency-info"></span></div>
    <div>{% trans "Category" %} {{ form.category }} </div>
    <div>{% trans "Remark" %}  {{ form.remark }}</div>

    <button type="form-submit" name="action" value="save">{% trans "Save" %}</button>
    <button type="form-submit" name="action" value="delete">{% trans "Delete" %}</button>
    <button type="form-submit" name="action" value="cancel">{% trans "Cancel" %}</button>
  </form>
</div>
{% endblock %}