{% extends "layout.html" %}

{% block title %}
    Transactions
{% endblock %}

{% block content %}
<div>
    <h1>Transactions</h1>
    <form method="get">
        <label>From: <input type="date" name="start" value="{{request.GET.start}}"></label>
        <label>To: <input type="date" name="end" value="{{request.GET.end}}"></label>
        <button type="form-submit">Filter</button>
        <a href="?start={{request.GET.start}}&end={{request.GET.end}}&export=csv">Download CSV</a>
    </form>
    <br>
    <div>Report period: {{start}} ... {{end}}</b></div>
    <table>
        <tr>
            <th> Date  </th>
            <th> Account  </th>
            <th> Amount  </th>
            <th> Currency  </th>
            <th> Category </th>
        </tr>
        {% for item in data%}
            <tr class="{% if item.amount > 0 %}income{% else %}expense{% endif %}">
                <td> <a href="transaction_edit/{{item.id}}" title="push to edit"> {{item.date|date:"d-m-Y"}} </a></td>
                <td> {{item.account}} </td>
                <td> {{item.amount}} </td>
                <td> {{item.currency}} </td>
                <td> {{item.category}} </td>
            </tr>
        {% endfor %}
    </table>  
</div>
{% endblock %}