<!DOCTYPE html>
{% load i18n %}
{% load static %}
<html lang="en">
    <link rel="stylesheet" href="{% static 'global.css' %}" />
    <script src="{% static 'get_currency.js' %}"></script>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'favicon.gif' %}" type="image/gif">
    <title>
        {% block title %}
        {% endblock %}
    </title>

</head>
<body>
<div class="grid-container">

    <div class="header">
        {% if user.is_authenticated %}
            <form class="logout" action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                {% trans "You authorized as" %}
                <a href="{% url 'members:member_edit' user.profile.uuid %}" title="push to see details">{{user.username}} </a>
                {% trans ", you can" %}
                <a href="#" onclick="this.closest('form').submit(); return false;" title="Logout" aria-label="User Logout">Logout</a>
            </form>
        {% else  %}
            <a href="{% url 'members:register' %}">{% trans "Registration" %}</a> |
            <a href="{% url 'login' %}">{% trans "Login" %}</a>  | 
        {% endif %}   

        <form class="language" action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            {% trans "language:" %}
            <input name="next" type="hidden" value="{{ redirect_to }}">
            <select name="language">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                        {{ language.name_local }} ({{ language.code }})
                    </option>
                {% endfor %}
            </select>
            <input type="submit" value={% trans "Go" %}>
        </form>

    </div>

    <div>

    </div>

    <div class="menu">
        <details class="menu-section">
            <summary>{% trans "TRANSACTIONS" %}</summary>
            <ul>
                <li><a href="/transactions/transaction_list">{% trans "List" %}</a></li>
                <li><a href="/transactions/transaction_create_expense">{% trans "New expense" %}</a></li>
                <li><a href="/transactions/transaction_create_income">{% trans "New income" %}</a></li>
            </ul>
        </details>
        <details class="menu-section">
            <summary>{% trans "CURRENCY" %}</summary>
            <ul>
                <li><a href="/transactions/currency_list">{% trans "List" %}</a></li>
                <li><a href="/transactions/currency_create">{% trans "New" %}</a></li>
            </ul>
        </details>
        <details class="menu-section">
            <summary>{% trans "ACCOUNTS" %}</summary>
            <ul>
                <li><a href="/transactions/account_list">{% trans "List" %}</a></li>
                <li><a href="/transactions/account_create">{% trans "New" %}</a></li>
            </ul>
        </details>
        <details class="menu-section">
            <summary>{% trans "CATEGORIES" %}</summary>
            <ul>
                <li><a href="/transactions/category_list">{% trans "List" %}</a></li>
                <li><a href="/transactions/category_create">{% trans "New" %}</a></li>
            </ul>
        </details>
        <details class="menu-section">
            <summary>{% trans "MY_FAMILY" %}</summary>
            <ul>
                <li><a href="/members">{% trans "Members" %}</a></li>
                <li><a href="/members/member_create">{% trans "New" %}</a></li>
            </ul>
        </details>
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}

    </div>

    <div class="details">
        {% if messages %}
            {% for m in messages %}
                <div class="{{ m.tags }}">{{ m }}</div>
            {% endfor %}
        {% else %}
            {% trans "All running smooth" %}
        {% endif %}
    </div>

    <div class="footer">
        {% trans "Dmytro Yakovenko. 2025." %}
    </div>

</div>
</body>
</html>