<!DOCTYPE html>
{% load static %}
<html lang="en">
    <link rel="stylesheet" href="{% static 'global.css' %}" />
    <script src="{% static 'get_currency.js' %}"></script>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'favicon.gif' %}" type="image/gif">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
<div class="grid-container">

    <div class="header">
        {% if user.is_authenticated %}
            <form class="logout" action="{% url 'members:logout' %}" method="post">
                {% csrf_token %}
                You authorized as
                <a href="/members/{{user.id}}" title="push to see details">{{user.username}} </a>
                , you can 
                <button title="Logout" aria-label="User Logout">LOGOUT</button>
            </form>
        {% else  %}
            <a href="{% url 'members:register' %}">REGISTRATION</a> |
            <a href="{% url 'members:login' %}">LOGIN</a> 
        {% endif %}   
    </div>

    <div class="menu">
        <details class="menu-section">
            <summary>TRANSACTIONS</summary>
            <ul>
                <li><a href="/transactions/transaction_list">List</a></li>
                <li><a href="/transactions/transaction_create_expense">New expence</a></li>
                <li><a href="/transactions/transaction_create_income">New income</a></li>
            </ul>
        </details>
        <details class="menu-section">
            <summary>ACCOUNTS</summary>
            <ul>
                <li><a href="/transactions/account_list">List</a></li>
                <li><a href="/transactions/account_create">New</a></li>
            </ul>
        </details>
        <details class="menu-section">
            <summary>CATEGORIES</summary>
            <ul>
                <li><a href="/transactions/category_list">List</a></li>
                <li><a href="/transactions/category_create">New</a></li>
            </ul>
        </details>
        <details class="menu-section">
            <summary>CURRENCY</summary>
            <ul>
                <li><a href="/transactions/currency_list">List</a></li>
                <li><a href="/transactions/currency_create">New</a></li>
            </ul>
        </details>
        <details class="menu-section">
            <summary>MY_FAMILY </summary>
            <ul>
                <li><a href="/members">Members</a></li>
                <li><a href="/members/member_create">New</a></li>
            </ul>
        </details>
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}

    </div>

    <div class="details">
        {% if messages %}
            {% for m in messages %}
                <div class="{{ m.tags }}">{{ m }}</div>
            {% endfor %}
        {% else %}
            All running smooth
        {% endif %}
    </div>

    <div class="footer">
        Dmytro Yakovenko. 2025.
    </div>

</div>
</body>
</html>