<!DOCTYPE html>
{% load static %}
<html lang="en">
    <link rel="stylesheet" href="{% static 'global.css' %}" />
<head>
    <link rel="icon" href="{% static 'favicon.gif' %}" type="image/gif">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    <div class="topnav">
        <a href="/">HOME</a> | 
        <a href="/transactions">TRANSACTIONS</a> |
        <a href="/transactions/transaction_create_expense">ADD EXPENSE</a> |
        <a href="/transactions/transaction_create_income">ADD INCOME</a> |
        <a href="/members">MY FAMILY</a> |
        {% if user.is_authenticated %}
            <form class="logout" action="{% url 'members:logout' %}" method="post">
                {% csrf_token %}
                You authorized as {{ user.username }}, you can 
                <button title="Logout" aria-label="User Logout">LOGOUT</button>
            </form>
        {% else  %}
            <a href="{% url 'members:register' %}">REGISTRATION</a> |
            <a href="{% url 'members:login' %}">LOGIN</a> 
        {% endif %}     
    </div>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
<footer>
    <br>
    <hr>
    <address> Dmytro Yakovenko. 2025. </address>
    <a href="mailto:dmitry.yakovenko@gmail.com">Send email</a>
</footer>
</html>