{% extends "layout.html" %}
{% load i18n %}

{% block title %}
    {% trans "Family members" %}
{% endblock %}

{% block content %}
<div>
    <h1>{% trans "Family members" %}</h1>
    <table>
        <tr>
            <th> {% trans "Username" %} </th>
            <th> {% trans "First Name" %} </th>
            <th> {% trans "Last Name" %} </th>
            <th> {% trans "email" %} </th>
        </tr>
        {% for item in mymembers%}
            <tr>
                <td> <a href="{{item.profile.uuid}}" title="push to see details">{{item.username}} </a></td>
                <td> {{item.first_name}} </td>
                <td> {{item.last_name}} </td>
                <td> {{item.email}} </td>
            </tr>
        {% endfor %}
    </table>  
</div>
    
{% endblock %}