{% extends "layout.html" %}

{% block title %}
    Members
{% endblock %}

{% block content %}
<div>
    <h1>Members of my family</h1>
    <table>
        <tr>
            <th> Username </th>
            <th> First Name </th>
            <th> Last Name </th>
            <th> email </th>
        </tr>
        {% for item in mymembers%}
            <tr>
                <td> <a href="{{item.profile.uuid}}" title="push to see details">{{item.username}} </a></td>
                <td> {{item.first_name}} </td>
                <td> {{item.last_name}} </td>
                <td> {{item.email}} </td>
            </tr>
        {% endfor %}
    </table>  
</div>
    
{% endblock %}