{% extends "layout.html" %}
{% load i18n %}

{% block title %}
    {% trans "Edit memeber" %}
{% endblock %}

{% block content %}
<div class="mycard">
    <h1>{% trans "Edit memeber" %}</h1>
    <form method="post">
        {% csrf_token %}
        <div>{{form.first_name.label_tag}} {{form.first_name}}</div>
        <div>{{form.last_name.label_tag}} {{form.last_name}}</div>
        <div>{{form.email.label_tag}} {{form.email}}</div>
        <button class="form-submit" name="action" value="save">{% trans "Save" %}</button>
        <button class="form-submit" name="action" value="delete"></button>
    </form>
    {% if mymember.username == user.get_username %}
        <a href="{% url 'password_change' %}">{% trans "Change password" %}</a>
    {% endif %}
</div>

{% endblock %}
